@page "/BookMarks"
<h3>BookMarks</h3>
<h6> Azure </h6>


<li><a href="https://www.youtube.com/watch?v=0Knf9nub4-k">Johh Savill AZ-104 Administrator Associate Study Cram v2</a></li>
<li>
<a href="https://www.youtube.com/watch?v=d59nAwmdoLk&t=848s">How To Pass ANY Azure Certification in 2024 | Complete Guide
</a>
</li>

@code {
    
}